*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    height: 500px;
    width: 100%;
}

img {
    height: 100%;
    width: auto;
    max-width: 90%;
}

img:not(.active) {
    display: none;
}

button {
    border: none;
    padding: 1rem 1.1rem;
    border-radius: 50%;
    background-color: rgba(227, 224, 224, 0.643);
}

button.prev {
    position: absolute;
    top: -17px;
    right: 50%;
    transform: translate(50%, 50%);
}

button.next {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translate(50%, 50%);
}

.side-container {
    position: absolute;
    width: 10%;
    margin-left: auto;
}

.side-container > img {
    display: block;
}

.side-container > img.active {
    border: 2px solid white;
}
